.jumbotron {
    background-image: url("https://cdn.technologynetworks.com/tn/images/thumbs/webp/640_360/self-swabbing-tests-for-covid-19-are-accurate-and-safe-study-reports-336102.webp?v=10759067");
    background-size: 100% 100%;
    text-align: center;
}